*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    display: flex;
    background-image: linear-gradient(#8f6334bd, rgb(191, 224, 150));
    width: 1920px;
    height: 150px;
}
#logo{
    position: absolute;
    padding-left: 100px;
    top: 15px;
    left: 15px;
    width: auto;
    height: 120px;
    animation-name: logoexpande;
    animation-duration: 2s;
}
@keyframes logoexpande{
    0%{
        opacity: 0;
        width: auto;
        height: 500px;
    }
    100%{
        width: auto;
        height: 120px;
        opacity: 1;
    }
}
.separador{
    width: 500px;
    height: 150px;
}
.smenu{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
nav ul li a{
    text-decoration: none;
}
li a{
    color: rgb(11, 77, 11);
    padding: 15px;
}
.bgcnos a{
    color: rgb(191, 224, 150);
    background-color: #8f6334;
    padding: 15px;
    border-radius: 10px;
}
.bgccont a{
    color: rgb(191, 224, 150);
    background-color: #8f6334;
    padding: 15px;
    border-radius: 10px;
}
.smenu a:hover{
    color: rgb(191, 224, 150);
    background-color: #8f6334;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.4s;
}
nav ul li{
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-family: Arial;
    padding-top: 50px;
}
nav{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-left: 300px;
    padding-top: 50px;
    margin: 0;
} 
.contHome{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.contHome a{
    color: #8f6334;
}
.contHome a:hover{
    color: #318331;
    }
.separadorFinal{
    width: 150px;
}
.buscador i{
    background-color: #ecfcd2;
    color: #58b058;
    border: 2px solid #58b058;
    text-align: right;
    width: 400px;
    height: 50px;
    font-size: 25px;
    padding-right: 20px;
    line-height: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
}
.home{
    height: 50px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}
.titular{
    background-color: #58b058;
    color: rgb(211, 235, 182);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 1920px;
}
.nuestrosProductos{
    display: grid;
    grid-template-areas: "tind prod" "indice prod";
    grid-template-columns: 370px 1550px;
    grid-template-rows: 60px 590px;
}
.tituloindice{
    grid-area: tind;
    background-color: #8dd18d;
    text-align: center;
    line-height: 60px;
}
.indice{
    grid-area: indice;
    background-color: #e2ffb4;
    padding-top: 30px;
    padding-left: 40px;
}
.indice ul{
    list-style: none;
}
.indice a{  
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(11, 77, 11);
    text-decoration: none;
    transition: 1s;
}
.indice a:hover{
    color: #8f6334;
    font-size: 25px;
}
.contprod{
    grid-area: prod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: auto;
    background-image: linear-gradient(#ffff92, #ffffbd);
    width: 1550px;
    padding: 30px;
}
.producto{
    margin: 10px;
    color: rgb(56, 56, 56);
    font-size: 20px;
    width: 300px;
    height: 270px;
    background-color: #e2ffb4;
    border-radius: 10px;
}
.producto a{
    text-decoration: none;
    color: rgb(87, 87, 87);
    padding: 10px;
    float: left;
}
.producto a:hover{
    color: #8f6334;
}
.fondo{
    background-size: contain;
    background-position: top;
    height: 200px;
    border-radius: 10px;
}
.fondop1{
    background-image: url(/multimedia/Productos/bremolacha.jpg);
}
.fondop2{
    background-image: url(/multimedia/Productos/bespinaca.jpg);
}
.fondop3{
    background-image: url(/multimedia/Productos/bgarbanzo.jpg);
}
.fondop4{
    background-image: url(/multimedia/Productos/bcalabaza.jpg);
}
.description{
    padding: 10px;
    font-size: 20px;
}
.subir{
    color: rgba(0, 0, 0, 0.281);
    font-size: 25px;
    background-color: rgba(11, 107, 11, 0.63);
    border-radius: 6px;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.contloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 1920px;
    height: 350px;
    background-image: linear-gradient(#ffffbd, #ffff92);
}
.local{
    background-color: rgba(0, 0, 0, 0.165);
    width: 450px;
    height: 320px;
    padding: 15px;
    margin: 20px;
    color: rgb(11, 77, 11);
    border-radius: 10px;
}
.datosLocal h4{
    font-size: 20px;
}
.datosLocal p{
    font-size: 15px;
}
.mapa{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
}
footer{
    background-image: linear-gradient(rgb(191, 224, 150), #8f6334bd);
    text-align: center;
    width: 1920px;
    height: 150px;
}
.contacto{
    font-size: 25px;
    color: white;
    padding: 15px;
}
.redes{
    font-size: 35px;
    padding-bottom: 20px;
}
.redes a{
    color: #ffff92;
}
.redes a:hover{
    color: rgb(255, 255, 255);
}
.nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/multimedia/Nosotros/Nosotros.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 40px;
    height: calc(100vh - 300px);
}
.qsomos{
    background-color: rgba(0, 0, 0, 0.548);
    padding: 30px;
    color: white;
    font-size: 20px;
    width: 650px;
    height: auto;
} 
#nos{
    padding-bottom: 15px;
}
.galeria{
    width: 1250px;
    min-height: 550px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.671);
}
.concont{
    display: flex;
    width: 100%;
    height: calc(100vh - 300px);
}
.formulario{
    margin: 0;
    width: auto;
    background-color: rgb(255, 255, 146);
    padding: 25px;
}
.formulario p{
    padding: 15px;
    font-size: 20px;
    color: rgb(11, 77, 11);
}
fieldset{
    border: none;
}
.boton{
    padding: 5px;
    background-color: #318331;
    border: none;
    color: white;
    margin: 5px;
    border-radius: 3px;
}
.fondoContacto{
    margin: 0;
    width: 100%;
    height: auto;
    /* background-image: url(/multimedia/Contacto/fondoContacto.jpg); */
    background-image: linear-gradient(to right, rgb(255, 255, 146),rgba(255, 255, 255, 0.015) 90%), url(/multimedia/Contacto/fondoContacto.jpg);
    background-size: cover;
    background-position: center;
}

/* ---------------------------------------------------------------------- */
/* -------------------------------  1080  ------------------------------- */
/* ---------------------------------------------------------------------- */

@media only screen and (max-width: 1080px){
    .header{
        width: 1080px;
    }
    #logo{
        padding-left: 50px;
    }
    .separador{
        width: 100px;
        height: 150px;
    }
    .smenu{
        width: 300px;
    }
    nav ul li{
        font-size: 20px;
    }
    .separadorFinal{
        width: 50px;
    }
    .buscador i{
        width: 300px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        margin-right: 50px;
        margin-top: 80px;
    }
    .home{
        height: 40px;
        width: 50px;
        font-size: 40px;
        line-height: 40px;
        margin-right: 40px;
        margin-top: 30px;
    }
    .titular{
        font-size: 15px;
        width: 1080px;
    }
    .nuestrosProductos{
        width: 1080px;
        display: grid;
        grid-template-columns: 200px 880px;
        grid-template-rows: 50px 350px;
    }
    .contprod{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        overflow: auto;
        background-color: #ffff92;
        width: 880px;
        height: 400px;
        padding: 20px;
    }
    .tituloindice{
        line-height: 50px;
    }
    .indice{
        padding-top: 10px;
        padding-left: 15px;
    }
    .indice a:hover{
        color: #8f6334;
    }
    .producto{
        width: 250px;
        height: 270px;
        font-size: 20px;
    }
    .producto a:hover{
        color: #8f6334;
    }
    .fondo{
        height: 190px;
    }
    .subir{
        font-size: 20px;
        width: 30px;
        height: 25px;
        line-height: 25px;
    }
    .contloc{
        display: flex;
        justify-content: space-around;
        width: 1080px;
        height: 350px;
    }
    .local{
        width: 490px;
        height: 280px;
    }
    .datosLocal h4{
        font-size: 17px;
    }
    .datosLocal p{
        font-size: 12px;
    }
    .mapa{
        width: 290px;
        height: 170px;
        border-radius: 10px;
    }
    .local div{
        height: 15px; 
    }
    footer{
        width: 1080px;
        height: 100px;
    }
    .contacto{
        font-size: 17px;
        padding: 10px;
    }
    .redes{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .nosotros{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-position: center;
        width: 1080;
        padding: 40px;
    }
    .qsomos{
        padding: 25px;
        font-size: 15px;
        width: 650px;
        height: auto;
    } 
    #nos{
        padding-bottom: 15px;
    }
    .galeria{
        width: 1250px;
        min-height: 550px;
        margin-left: 50px;
    }
    .concont{
        display: flex;
        width: 1080px;
        height: calc(100vh - 300px);
    }
    .formulario{
        width: auto;
        padding: 25px;
    }
    .formulario p{
        padding: 15px;
        font-size: 15px;
        color: rgb(11, 77, 11);
    }
    fieldset{
        border: none;
    }
    .boton{
        padding: 5px;
        background-color: #318331;
        border: none;
        color: white;
        margin: 5px;
        border-radius: 3px;
    }
}

/* ----------------------------------------------------------------------- */
/* -------------------------------   390   ------------------------------- */
/* ----------------------------------------------------------------------- */

@media only screen and (max-width: 390px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 390px;
        height: 70px;
    }
    #logo{
        width: 70px;
        height: auto;
        padding-left: 20px;
    }
    .separador{
        display: none;
    }
    .smenu{
        font-size: 15px;
        width: 100px;
    }
    nav{
        width: 200px;
        height: 60px;
        padding-left: 30px;
        padding-top: 0;
    }
    nav ul li{
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-family: Arial;
        padding: 10;
        padding-top: 50px;
    }
    .separadorFinal{
        display: none;
    }
    .buscador i{
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 20px;
        padding: 0%;
        margin-right: 0;
        margin-top: 25px;
    }
    .home{
        height: 40px;
        width: 50px;
        font-size: 40px;
        line-height: 40px;
        margin-right: 40px;
        margin-top: 30px;
    }
    .titular{
        font-size: 10px;
        padding: 5px;
        width: 390px;
    }
    .nuestrosProductos{
        display: grid;
        grid-template-areas: "prod";
        width: 390px;
    }
    .indice{
        display: none;
    }
    .tituloindice{
        display: none;
    }
    .contprod{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 390px;
        height: 400px;
    }
    .producto{
        width: 160px;
        height: 170px;
        font-size: 10px;
        border: 0;
    }
    .fondo{
        width: 160px;
        height: 130px;
    }
    .subir{
        font-size: 20px;
        width: 30px;
        height: 25px;
        line-height: 25px;
        bottom: 20px;
        right: 30px;
    }
    .contloc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: auto;
        width: 390px;
        height: 350px;
    }
    .local{
        width: 165px;
        height: 195px;
        margin: 0;
        padding: 15px;
        margin-left: 15px;
        margin-top: 15px;
    }
    .datosLocal h4{
        font-size: 15px;
    }
    .datosLocal p{
        font-size: 10px;
    }
    .mapa{
        width: 150px;
        height: 110px;
        margin: 0;
        padding: 0;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 10px;
    }
    footer{
        width: 390px;
        height: 100px;
    }
    .contacto{
        font-size: 17px;
        padding: 10px;
    }
    .redes{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .nosotros{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-position: center;
        width: 390px;
        padding: 40px;
    }
    .qsomos{
        padding: 25px;
        font-size: 15px;
        width: 650px;
        height: auto;
    } 
    #nos{
        padding-bottom: 15px;
    }
    .galeria{
        width: 1250px;
        min-height: 550px;
        margin-left: 50px;
    }
    .concont{
        display: flex;
        width: 390px;
        height: calc(100vh - 300px);
    }
    .formulario{
        width: auto;
        padding: 25px;
    }
    .formulario p{
        padding: 15px;
        font-size: 15px;
        color: rgb(11, 77, 11);
    }
    fieldset{
        border: none;
    }
    .boton{
        padding: 5px;
        background-color: #318331;
        border: none;
        color: white;
        margin: 5px;
        border-radius: 3px;
    }
}